# Python
__pycache__/
*.pyc

# Virtual env
venv/
.venv/

# Data / outputs
data/
results_*/
runs/
checkpoints/
*.pt
*.pth
*.ckpt

# OS / editor
.DS_Store
.vscode/

# Local test files
scripts/
extra_files/
